.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  gap: 8px;
}

.form input[name="search-text"] {
  width: 256px;
  height: 24px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

.form input[name="search-text"]:hover {
  border: 1px solid #000000
}

.form input[name="search-text"]:hover {
  border: 1px solid #4E75FF
}

.form button[type="submit"] {
  width: 91px;
  height: 40px;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #4E75FF;
  border: none;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em

}

.form button[type="submit"]:hover {
  background-color: #6C8CFF;
}